.default-container {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #AAA;
  box-shadow: 0px 0px 8px 1px #AAA;
  margin-top: 25px;
}

.default-title {
  line-height: 45px;
  font-size: 14px;
  font-weight: bold;
  color: #474747;
  border-bottom: 1px solid #AAA;
}

#actions-holder--addnew {
  padding-right: 15px;
}

#actions-holder--search {
  padding-left: 15px;
}

#action-button--addnew,
#action-button--search {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #AAA;
  box-shadow: 0px 0px 8px 1px #AAA;
  line-height: 45px;
  text-align: center;
  color: #005be6;
  font-size: 15px;
  margin-top: 25px;
}

#action-button--addnew:hover,
#action-button--search:hover {
  background-color: #005be6;
  border: 1px solid #005be6;
  cursor: pointer;
  color: white;
}

#additem-container,
#edititem-container {
  display: none;
}

.itembox-hide {
  float: right;
  margin-top: -46px;
  line-height: 45px;
  color: #AAA;
  font-size: 18px;
}

.itembox-hide:hover {
  cursor: pointer;
  background-color: #AAA;
  color: white;
}

.itembox-contents {
  background-color: #F2F2F2;
  padding-bottom: 15px;
}

.itembox-title {
  line-height: 30px;
  color: #474747;
  font-size: 14px;
  font-style: italic;
}

.itembox-words--input {
  border-radius: 0px;
  border: 1px solid #CCC;
  line-height: 28px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: #777;
}

.itembox-words--input:hover {
  border: 1px solid #AAA;
}

.itembox-words--input:focus {
  border: 1px solid #005be6;
}

.itembox-words--add {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #AAA;
  line-height: 35px;
  text-align: center;
  color: #005be6;
  font-size: 15px;
}

.itembox-words--add:hover {
  background-color: #005be6;
  border: 1px solid #005be6;
  cursor: pointer;
  color: white;
}

.itembox-meaning {
  border-radius: 0px;
  border: 1px solid #CCC;
  padding: 10px;
  color: #777;
  resize: none;
  height: 115px;
}

.itembox-meaning:hover {
  border: 1px solid #AAA;
}

.itembox-meaning:focus {
  border: 1px solid #005be6;
}

.itembox-button {
  line-height: 45px;
  background-color: white;
  margin-top: 10px;
  border: 1px solid #AAA;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #777;
}

.itembox-button:hover {
  border: 1px solid #005be6;
  color: #005be6;
  cursor: pointer;
}

#delete-button--confirm {
  border: 1px solid #FF1A1A;
  color: #FF1A1A;
  display: none;
}

#delete-button--confirm:hover {
  background-color: #FF1A1A;
  color: white;
}

#dictionary-item--holder {
  max-height: 500px;
  overflow-y: auto;
}

.dictionary-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dictionary-item:nth-child(odd) {
  background-color: #F3F3F3;
}

.dictionary-item:nth-child(even) {
  background-color: #E9E9E9;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.dictionary-item:hover {
  background-color: #F4FBFF;
  cursor: pointer;
}

.dictionary-item--word {
  color: #005be6;
  font-size: 13px;
  word-break: break-all;
}

.dictionary-item--meaning {
  color: #777;
  font-size: 12px;
}

#dictionary-info {
  color: #474747;
  font-size: 14px;
  border-top: 1px solid #AAA;
  padding: 15px;
}