#settings-holder {
  z-index: 5;  
}

#settings-box {
  background-color: white;
  border: 1px solid #AAA;
  border-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#settings-button {
  height: 35px;
  line-height: 35px;
  color: #777;
  font-size: 15px;
}

#settings-box:hover #settings-button {
  color: #005BE6;
}

#settings-button span {
  font-size: 17px;
  padding-right: 5px;
  line-height: 33px;
}

#settings-contents {
  display: none;
  width: 275px;
  padding-bottom: 15px;
}

#settings-box:hover #settings-contents {
  display: block;
}

#settings-divider {
  height: 1px;
  width: 100%;
  background-color: #AAA;
}

.settings-item--holder {
  width: 100%;
  margin-top: 15px;
}

.settings-checkbox input {
  display: none;
}

.settings-checkbox span {
  height: 25px;
  width: 25px;
  background-color: #EEE;
  border: 1px solid #005BE6;
  display: block;
  border-radius: 5px;
  margin-right: 10px;
}

.settings-checkbox span:hover {
  background-color: #DDD;
  cursor: pointer;
}

.settings-checkbox input:checked + span {
  background-color: #005BE6;
}

.settings-checkbox input:checked + span:before {
  content: "\2713";
  color: #EEE;
  font-size: 25px;
  top: -2px;
  left: 2px;
  position: relative;
  font-family: Arial;
}

.settings-input {
  border-radius: 0px;
  border: 1px solid #005BE6;
  height: 25px;
  width: 25px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 10px;
  font-size: 12px;
  font-style: italic;
  color: #777;
  text-align: center;
}

.settings-item--info {
  font-size: 13px;
  font-style: italic;
  color: #777;
  line-height: 25px;  
}

#card-holder {
  background-color: white;
  margin-top: -10px;
  border-radius: 3px;
  border: 1px solid #AAA;
  box-shadow: 0px 0px 8px 1px #AAA;
}

.card-holder--title {
  font-size: 14px;
  font-weight: bold;
  color: #474747;
  padding: 15px;
}

#card-holder--word {
  font-size: 24px;
  color: #005be6;
  padding: 15px;
  text-align: center;
  background-color: #EEE;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

#card-holder--meaning {
  font-size: 14px;
  color: #777;
  padding: 15px;
  background-color: #EEE;
  margin-bottom: 15px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

#next_button:before {
  position:absolute;
  content: "";
  left: -1px;
  top: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 28px 0px 0px;
  border-color: #AAA transparent transparent transparent;
}

#next_button:after {
  position:absolute;
  content: "";
  right: -1px;
  bottom: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0px 28px 28px;
  border-color: transparent transparent #AAA transparent;
}

#next_button:hover:after {
  border-color: transparent transparent #777 transparent;
}

#next_button:hover:before {
  border-color: #777 transparent transparent transparent;
}

#next_button {
  background-color: white;
  margin-top: 25px;
  border-radius: 10px;
  border: 1px solid #AAA;
  box-shadow: 0px 0px 8px 1px #AAA;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-weight: bold;
  color: #474747;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#next_button:hover {
  cursor: pointer;
  border: 1px solid #777;
  color: #005be6;
}

#next_button-info {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  margin-top: 5px;
  color: #474747;
}
